# Server
PORT=5000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://cqdgyrtezbnqytbonhhi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxZGd5cnRlemJucXl0Ym9uaGhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NTQwMDksImV4cCI6MjA5ODAzMDAwOX0.6O2AkUNDclDRPC3QoiEvUlSMuYAqKTmk64810sYgDsw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxZGd5cnRlemJucXl0Ym9uaGhpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQ1NDAwOSwiZXhwIjoyMDk4MDMwMDA5fQ.14amYNbOPers4CZlm62CGsAU-0UO-YFQ-U4oYKG1ANw
SUPABASE_CONNECTING_STRING=psql -h db.cqdgyrtezbnqytbonhhi.supabase.co -p 5432 -d postgres -U postgres

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Jira
JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_EMAIL=your-email@example.com
JIRA_API_TOKEN=your-api-token
JIRA_PROJECT_KEY=PROJ
